services:
  softvpn:
    build:
      context: .        
      dockerfile: Dockerfile
    image: chaosbox/softether-vpn:latest
    container_name: softvpn
    restart: unless-stopped

    network_mode: "host"

    cap_add:
      - NET_ADMIN
      - NET_RAW

    devices:
      - /dev/net/tun:/dev/net/tun

    # mem_limit: 512m
    # cpus: "1.0"