services:
  softvpn:
    image: ghcr.io/bernersft/netns-chaosbox:latest

    # Uncomment when building locally:
    # build:
    #   context: .
    #   dockerfile: ./Dockerfile

    container_name: softvpn
    restart: unless-stopped

    network_mode: "host"

    cap_add:
      - NET_ADMIN
      - NET_RAW

    devices:
      - /dev/net/tun:/dev/net/tun

    # mem_limit: 512m
    # cpus: "1.0"